.dateCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 15px;
  color: #fff;
  background-color: #252525;
  border: 1px solid white;
  font-weight: bold;
  font-size: var(--principal-font-size);
}
.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  height: 100%;
  padding: 5px;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pd-2 {
  margin: 0 auto;
}
